<h1>Welcome to QuickDashboard, <span *ngIf="name">{{name}}</span></h1>
<app-console></app-console>
<ul>
  <li>
    <p>Graph:</p>
    <app-graph [weightEntries]="weightEntries"></app-graph>
  </li>
  <li>
    <p>WeightForm:</p>
    <app-weight-form (added)="getWeights()" [token]="token" [email]="email"></app-weight-form>
    <app-weight-list [weightEntries]="weightEntries" [token]="token" [email]="email"></app-weight-list>
  </li>
  <li>
    <p>Calculator:</p>
    <app-calculators [email]="email" [token]="token"></app-calculators>
  </li>
</ul>
